/*FONTS*/
@font-face{
    font-family:"Happy Monkey";
    src:url('../../assets/fonts/HappyMonkey-Regular.ttf');
}
@font-face{
    font-family:"OpenSans-Bold";
    src:url('../../assets/fonts/OpenSans-Bold.ttf');
}
@font-face{
    font-family:"OpenSans-Italic";
    src:url('../../assets/fonts/OpenSans-Italic.ttf');
}
@font-face{
    font-family:"OpenSans-Light";
    src:url('../../assets/fonts/OpenSans-Light.ttf');
}
@font-face{
    font-family:"OpenSans";
    src:url('../../assets/fonts/OpenSans-Regular.ttf');
}
@font-face{
    font-family:"Lobster";
    src:url('../../assets/fonts/Lobster-Regular.ttf');
}
@font-face{
    font-family:"Kalam Bold";
    src:url('../../assets/fonts/Kalam-Bold.ttf');
}
@font-face{
    font-family:"Kalam Light";
    src:url('../../assets/fonts/Kalam-Light.ttf');
}
@font-face{
    font-family:"Kalam";
    src:url('../../assets/fonts/Kalam-Regular.ttf');
}


/*GENERAL STYLES*/
html,
body{
    margin:0;
    padding:0;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
}

body{
    background:rgba(240,240,240,1);
}

header{
    width:100%;
    height:80px;
    margin:0 auto;
    padding:0;
    background:#101010;
}

header h1{
    text-align:center;
    width:100%;
    height:40px;
    margin:0 auto 2px auto;
    padding:0;
    color:#f1f1f1;
    
}

header nav{
    width:100%;
    height:40px;
    margin:0 auto;
    padding:0;
}

header nav ul{
    width:100%;
    height:40px;
    margin:0 auto;
    padding:0;
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    align-items:center;
}

header nav ul li{
    width:100%;
    height:40px;
    line-height:40px;
    margin:0 auto;
    padding:0;
    list-style:none;
    text-align:center;
}

header nav ul li a{
    text-transform:uppercase;
    text-decoration:none;
    width:100%;
    margin:0 auto;
    padding:0;
    text-align:center;
    font-size:22px;
    color:#f1f1f1;
    font-family:"Happy Monkey", sans-serif;
}

header nav ul li a:hover{
    color:#e92626;
    text-decoration:underline overline;
}

section{
    width:100%;
    margin:0 auto;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
}

section article{
    width:90%;
    margin:20px auto;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    border:.5px solid #101010;
    border-radius:5px;
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    align-items:center;
    position:relative;
}

section article h2{
    width:100%;
    margin:0;
    padding:0;
    text-align:center;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    font-family:"Lobster", sans-serif;
    letter-spacing: 1.2px;
    background:rgba(25,25,25,.2);
}

section article p{
    width:80%;
    margin:5px auto;
    padding:20px;
    font-family:"OpenSans", sans-serif;
    color:#151515;
    text-align:justify;
}

/*MEDIA-QUERIES*/
@media all and (max-width:726px){
    header{
        width:100%;
        height:auto;
    }
    header h1{
        width:100%;
        height:auto;
        display:block;
    }
    header nav{
        width:100%;
        height:auto;
        margin:0;
        padding:0;
    }

    header nav ul{
        width:100%;
        height:auto;
        margin:0;
        padding:0;
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;
    }
}